.Rotate {
  animation: rotation 2s infinite linear;
} 
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}








.First-Paragraph {
  background-color: black;
  color: Green;
  font-size: 50px;
  font-weight: bold;
}

.Second {background-color: red;
  color: yellow;
  font-size: 50px;
  font-weight: bold;
  }

.Me {
  color: blue;
  background-color: white;
  margin: 30px;
  width: 100px;
  height: 30px;
  display: inline-block;
}

.ME2 {
   color: white;
  background-color: black;
  margin: 10px;
  width: 150px;
  height: 30px;
  display: inline-block;
}

.Me3 {
    color: white;
  background-color: black;
  margin: 10px;
  width: 150px;
  height: 30px;
  display: inline-block;
}